<!DOCTYPE html>
<html>
 <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>Register Location</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="/assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="/assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="/assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="/assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="/assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="/assets/css/responsive.css">
        
        
        <style type="text/css">
        /* Ensure the body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Make the main content section take up available space */
section#tracking {
    flex: 1; /* This makes the section expand to fill available space */
}

/* Ensure footer stays at the bottom */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
        
        </style>
        
    </head>
	
<body>


<section id="tracking" class="new-cars">
    <div class="container">
    <h1>Register Vehicle Location</h1>
        <br/>
        <!-- Display error message if login fails -->
        <div th:if="${error}" class="error-message" style="color: red;">
            <p th:text="${error}"></p>
        </div>
    <form action="https://b14a-105-245-170-53.ngrok-free.app/tracking/save" method="post">
  <div class="row mb-3">
    <label for="vehicleRegNum" class="col-sm-2 col-form-label">Vehicle Registration Number</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="vehicleRegNum" id="vehicleRegNum" placeholder="Enter the Vehicle Registration Number">
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register Location</button>
  </div>
  </form>
  <br>
  <p><a class="bg-primary" href="/app/dashboard">Go Back</a></p>
  <br>
    </div>
</section>

<footer id="contact"  class="contact">
			<div class="container">
		<!--new-cars start -->
						<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright. designed and developed by <a href="https://dunjwantandoportfolio.netlify.app/">Ntando Dunjwa</a>.
							</p>
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div>
			
 </footer>
</body>
</html>